.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.head-container .left h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--dark);
}

.head-container .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    margin-top: 7px;
}

.head-container .left .breadcrumb li {
    color: #191919;
    font-size: 13px;
}


.head-container .left .breadcrumb li a {
    color: #8a8a8a;
    text-decoration: none;
    pointer-events: none;
}

.head-container .left .breadcrumb li a.active {
    color: #1b75f4;
    pointer-events: unset;
}


.dashboard-content {
    display: flex;
    flex: 2;
    flex-direction: column;
    overflow: auto;
}
.dashboard-content-container {
    margin: 5px ;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:24px;
    overflow: auto;
}
.dashboard-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table .table-title {
    margin-top: auto;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    color: rgb(29, 28, 28);
    font-size: 22px;
    font-weight: 800;
    
}

/* Searhc bar */
.dashboard-content-search {
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.009em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    font-size: 0.875rem;
    border-radius: 20px;
    border: 1px solid gray;
}

.dashboard-content-search input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    align-items: center;
    color: rgb(33, 33, 33);
    font-family: 'Poppins';
    font-size: 14px;
    width: 240px;
    margin-right: 3px;
    outline: none;
}

.dashboard-content-search input[type="text"]:focus {
    font-family: 'Poppins';
    font-weight: 400;
}
/* search bar end */




/* Table styling Start */
table {
    width: 100%;
    margin: auto;
    border-color: #FFFFFF;
}

th {
    text-align: left;
    padding: 10px  20px;
    background: transparent;
    box-shadow: none;
    color: #2D83B5;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
tbody {
    display: table-row-group;
}
tr, thead {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}
td {
    text-align: left;
    padding: 10px  17px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
td div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-img img {
    width: 71px;
    height: 55px;
    border-radius: 6px;
    margin-right: 7px;
}

td span {
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 400;
}

.dashboard-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dashboard-content-footer .pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
}
.dashboard-content-footer .active-pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #2D83B5;
    cursor: pointer;
}


/* Icons style */

.icon-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-left: 10px;
    
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
  .icon-link {
    text-decoration: none;
    font-size: 24px;
  }
   
  .delete-icon {
    color: red; 
  }

  .delete-icon:hover{
    color: rgb(193, 10, 10);
  }
  
/* End Table styling */



